@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    padding: 50px 0;
}

.main {
    padding: 20px 10%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

section {
	padding-left: 10px;
	text-align: center;
}